<!--
    This file is part of Brewtools.

    Brewtools is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Brewtools is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Brewtools.  If not, see <http://www.gnu.org/licenses/>.

    Copyright Chris Taylor, 2008, 2009, 2010
-->

<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

    <div class="page-header"> <!-- this is a hack needs to have its own style -->
      <div id="tablist" class="nav">
        <ul class="main-nav">
          <% _is_first = true %>
          <% tab_values.each do |tab_value| %>
          <li id="_<%= tab_value[:name]%>_nav" <%= 'class="current_nav"' if _is_first %> >
            <%= link_to_function( tab_value[:name], nav_switch_func(tab_values,tab_value) ) %>
          </li>
          <% _is_first = false %>
          <% end %>
        </ul>
    </div>
    </div>

   <% _is_first = true %>
   <% tab_values.each do |tab_value| %>
   <% next unless tab_value[:div].nil? %>
   <div id="_<%= tab_value[:name]%>_div" <%= 'style="display: none;"' unless _is_first %> >
      <%= render :partial => tab_value[:partial] if tab_value[:object].nil?  %>
      <%= render :partial => tab_value[:partial], :object => tab_value[:object] unless tab_value[:object].nil?  %>
   </div>
   <% _is_first = false %>
   <% end %>
