<!--
    This file is part of Brewtools.

    Brewtools is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Brewtools is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Brewtools.  If not, see <http://www.gnu.org/licenses/>.

    Copyright Chris Taylor, 2008, 2009, 2010
-->

<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<span id="<%=id_prefix%>_show" onclick="Element.show('<%=id_prefix%>_edit');Element.hide('<%=id_prefix%>_show');">
  <span class="input-hl"><%= value %></span>
    <% if alt_value %>
        (<%= alt_value %>)
    <% end %>
        <a onlcick="Element.show('<%=id_prefix%>_edit');Element.hide('<%=id_prefix%>_show');" class="small-button button">+</a>
 </span>
            
 <span id="<%=id_prefix%>_edit" style="display:none;" >
     <table>
    <tr>
      <td>
    <% form_remote_tag(
       :loading => "Hobo.showSpinner('#{message}');",
       :complete => "Hobo.hideSpinner();Element.hide('#{id_prefix}_edit');Element.show('#{id_prefix}_show');",
       :url => url_for_edit ) do -%>

       <%= text_field_tag tag_field, value, :size => 3 %>
       
       <%= submit_tag "Ok", :id => "ok_#{id_prefix}"%>
    <% end -%></td>
    <td>
    <button onclick="Element.hide('<%=id_prefix%>_edit');Element.show('<%=id_prefix%>_show');">X</button></td>
    </tr>
    </table>
</span>